<app-header></app-header>

<div class="container" style="padding: 10px;">
  <div class="main-container" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="gradient-custom-3">

  <div class="px-4 py-5 text-center text-white">
    <img class="d-block mx-auto mb-4" src="/assets/img/logo.png" alt="" width="400" height="200">
    <h1 class="display-5 fw-bold">Rent a car</h1>

    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">For us, mobility is all about freedom. It's being able to get where you want in the most practical and safe way possible. We love this freedom, but we also understand that it has different meanings for everyone. Therefore, our mission is to offer you the best option to be by your side on the path you choose.</p>
    </div>
  </div>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="padding: 30px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/porshe.png" class="d-block mx-auto w-50" alt="..." width="500" height="250">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/golfgti.png" class="d-block mx-auto w-50" alt="..." width="500" height="250">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/suzuki.png" class="d-block mx-auto w-50" alt="..." width="500" height="250">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/BMWSUV.png" class="d-block mx-auto w-50" alt="..." width="500" height="250">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/hilux.png" class="d-block mx-auto w-50" alt="..." width="500" height="250">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/IZUZU.png" class="d-block mx-auto w-50" alt="..." width="500" height="250">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
 </div>
</div>
<app-footer></app-footer>

