
<header class="p-3 text-bg-dark">
    <div class="container">

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="bi me-2" width="100" height="50" src="/assets/img/logo.png">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/home" class="nav-link px-2 text-white">Home</a></li>
          <li><a routerLink="/admClients" class="nav-link px-2 text-white">Features</a></li>
          <li><a routerLink="/home" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a routerLink="/home" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a routerLink="/home" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div *ngIf="!authenticated" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <button type="button" routerLink="/login" class="btn btn-outline-light me-2">Login</button>
          <button type="button" routerLink="/sing-up" class="btn btn-warning">Sign-up</button>
        </div>

        <div *ngIf="authenticated" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <a href="/">
            <button type="button" class="btn btn-warning" (click)="logout()">Logout</button>
          </a>
        </div>

        <div *ngIf="authenticated">
        <div class="dropdown text-end" >
          <a class="text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img type="button" src="/assets/img/profileIcon.png" width="32" height="32" >
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" routerLink="/clientProfile">Profile</a></li>
            <li><a class="dropdown-item">New project...</a></li>
            <li><a class="dropdown-item">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/">Sign out</a></li>
          </ul>
        </div>
      </div>
      </div>
    </div>
</header>


